<div class="container-fluid p-4 navbar">
  <div class="row w-100">
    <div class="col-1">
      <img
        class="nav-logo"
        src="assets/images/nav_logo.png"
        alt="navbar_logo"
      />
    </div>
    <div class="col-7">
      <div class="search-area d-flex align-self-center">
        <input
          placeholder="Search website, education, project..."
          class="search-input"
          type="text"
        />
      </div>
    </div>
    <div class="col-3 d-flex align-self-center">
      <button (click)="onClick()" class="btn btn-primary">Testing</button>
    </div>
  </div>
</div>
